body {
  background-color: #fbf2e5;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image > img {
  width: 25%;
}

.portfolio-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolio {
  background-color: #e8d4b6;
  border-radius: 5px;
  width: 30%;
  border: 1px solid black;
  margin-right: 15px;           /* Space between boxes */
}

.portfolio > p:first-of-type {
  margin-top: 10px;
  font-size: x-large;
  margin-left: 7px;
}

.portfolio > p {
  margin: 0;
  font-size: x-large;
}

.portfolio > p > a {
  color: black;
  font-weight:600
}

.portfolio > p > a:hover {
  color: lightslategray;
}

.portfolio > .message {
  display: inline;
  background: -webkit-linear-gradient(
    90deg,
    rgba(236, 0, 193, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.techused {
  background-color: #e8d4b6;
  border-radius: 5px;
  width: 30%;
  border: 1px solid black;
}

.techused > p:first-of-type {
  margin-top: 10px;
  font-size: x-large;
  margin-left: 3px;
}

.cloudflare {
  color: black;
  font-weight:600
}

.techused > p {
  margin: 0;
  font-size: x-large;
}

.techused > p > a {
  color: black;
  font-weight:600
}

.techused > p > a:hover {
  color: lightslategray;
}

.techused > .message {
  display: inline;
  background: -webkit-linear-gradient(
    90deg,
    rgba(236, 0, 193, 1) 31%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
  word-wrap: break-word;
  margin-bottom: 10px;
}

footer {
  border-top: 1px solid #e8d4b6;
  border-radius: 5px;
  font-size: large;
}

footer > p {
  margin: 0;
}

.mailto {
  float: left;
  display: inline; 
}

.lol {
  float: right;
  font-size: x-small;
}

.linky {
  color: #fbf2e5;
}

a:visited {
  color: #fbf2e5;
}

.linxlink {
  color: black;
  font-size: x-large;
}

.linxlink:visited {
  color: black;
}

img {
  width: 46%;
}

/* Large iPhone */
@media screen and (max-width: 428px) {
    .image > img {
      width: 250px;
    }

    .portfolio-box {
      flex-direction: column;
    }
  
    .portfolio {
      width: 372.5px;
      border: 1px solid black;
      margin-right: 0px;
    }
  
    .portfolio > p:first-of-type {
      margin-top: 10px;
      margin-left: 7px;
    }
  
    .portfolio > p {
      margin: 0px;
    }
  
    .portfolio > p > a {
      color: black;
    }
    
    .techused {
      width: 372.5px;
      border: 1px solid black;
      margin-top: 10px;
    }
  
    .techused > p:first-of-type {
      margin-top: 10px;
      margin-left: 3px;
    }

    .techused > p:last-of-type {
      margin-bottom: 10px;
    }
  
    .techused> p {
      margin: 0px;
    }
  
    .techused > p > a {
      color: black;
    }

    .lol {
      display: none;
    }
  }
  
  /* Medium iPhone */
  @media screen and (max-width: 375px) {
    .image > img {
      width: 300px;
    }
  
    .portfolio {
      width: 365px;
      border: 1px solid black;
    }
  
    .portfolio > .message {
      font-size: larger;
    }

    .techused {
      width: 365px;
      border: 1px solid black;
    }
  }
  
  /* Small iPhone */
  @media screen and (max-width: 320px) {
    .portfolio {
      width: 310px;
      border: 1px solid black;
    }
  
    .portfolio > p {
      margin: 0px;
      font-size: larger;
    }
  
    .portfolio > .message {
      font-size: larger;
    }

    .techused {
      width: 310px;
      border: 1px solid black;
    }

    .techused > p {
      margin: 0px;
      font-size: larger;
    }
  }
  
