body {
    background-color: #FAF0E5;
}

.header {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    color: #FAF0E5;
}

.linky {
    color: #FAF0E5;
}

a:visited {
    color: #FAF0E5;
}

.linxlink {
    color: black;
    font-size: x-large;
}

.linxlink:visited {
    color:black;
}

.message {
    color: plum;
}

img {
    width: 70%;
}